
body{
    background-color: rgb(90, 182, 151);
}
.container{
   height: 550px;
   width:95%;
   border-radius: 30px;
   margin-left: 25px;
   margin-top: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    box-shadow: 1px 1px 10px 1px;
    
}
.left-div{
    width: 30%;
    background-color: aliceblue;
    text-align: center;
    display: grid;
    border-radius: 30px;
   
}
.leftdiv1{
    /* border: 1px solid black; */
    padding-top: 100px;
}
/* .leftdiv2{
     border: 1px solid black; 
    
}
.leftdiv3{
     border: 1px solid black; 
    
} */
    
.left-div dt{
    font-size: xx-large;
}
.left-div dd{
    padding-left: 10px;
}
.right-div{
    width:70%;
    padding-left: 50px;
}
.right-div h2{
    color: rgb(130, 130, 219);
   
    padding-top: 70px;
}
.right-div p{
    margin-top: -10px;
}
.right-div input{
    width: 580px;
    margin-bottom: 10px;
    height: 40px;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
}
.right-div textarea{
    width: 580px;
    margin-bottom: 10px;
     background-color: rgb(196, 196, 196);
    border-radius: 10px;
}
.right-div button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(130, 130, 219);
    border-radius: 20px
}
.vl {
    border-left: 2px solid rgb(54, 51, 51);
    height: 300px;
    margin-top: 140px;
  }